MYSQL_DB_HOST=localhost
MYSQL_DB_NAME=library
MYSQL_DB_USERNAME=alfa
MYSQL_DB_PASSWORD=alfa
MYSQL_DB_PORT=3306

JWT_AUTH_SECRET=edit-you-secret-here
JWT_REFRESH_SECRET=edit-you-secret-here-dont-same-as-auth
